.quoteSection{
 text-align: right;
}

.chuckImage {
    z-index: -1;
    float: right;
    margin-top: -153px;
    display: inline-block;
    position: absolute;
    margin-left: -150px;
}

.quoteSection .quote {
    text-align: left;
    z-index: 1;
    color: #ffffff;
    position: relative;
    font-style: normal;
    background: #422ED4;
    border-radius: 25px;
    font-size: 20px;
    line-height: 150%;
    margin-top: 140px;
    padding: 24px 24px 100px;
}